.student-list li{
    width: auto;
}
    .student-list {
        list-style-type: none;
        padding: 0;
        position: absolute;
        height: 44vh;
        overflow-y: scroll;
        right: 10%;
        top: 50px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        /* overflow-y: scroll; */
        /* display:grid ;
        grid-template-columns: repeat(2,1fr); */
    }

    .student-list li {
        display: none; /* Initially hide all students */
        padding: 10px;
        margin: 2px;
        border-bottom: 10px solid #220d0d;
        cursor: pointer;
        background-color: lavender;
        border-radius: 5px;
    }
    .student-list::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, and Opera */
    }
    .scroll-indicator {
        position: absolute;
        right: 10%;
        top: 55px;
        display: none; /* Hide the indicator by default */
        cursor: pointer;
    }

    .student-list li:hover {
        background-color: #7d4d05;
        color: #fff;
        

    }
    /* .fa-solid{
        color: #ff1ff0;
    } */