

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins',sans-serif;
}

body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218deg 50% 91%);
    font-family: 'Poppins',sans-serif;
    height: 100vh;
    background-image: url(BackgroundUniversal.jpg);
    background-size: cover;
    margin: 0;
}
@keyframes swal2-show{ 0%{transform:scale(0.7)} 45%{transform:scale(1.05)}80%{transform:scale(0.95)} 100%{transform:scale(1)}}
@keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(0.5);opacity:0}}


.screen-1 {
    background: hsl(0, 0%, 100%);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 30px;
    box-shadow: 0 12px 25px 0 rgba(101, 94, 98, 0.25);
    width: 320px;
    align-items: center;
    animation: swal2-show 3s;
    
}

.logo {
    margin-top: -3em;
    width: 100px;
    height: 100px;
}

.teacher-selection, .password {
    background: hsl(0deg 0% 100%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: hsl(0deg 0% 30%);
    width: 100%;
}

.teacher-selection select, .password input {
    outline: none;
    border: none;
    font-size: 0.9em;
    padding: 0.5em;
    animation: swal2-show 3s;
    
}

.teacher-selection select , #password {
    padding-left: 2em;
    border:2px solid rgb(255, 156, 7);
    border-radius: 10px;

}
.password input::placeholder {
    color: hsl(0, 3%, 31%);
}

ion-icon {
    color: hsl(0deg 0% 30%);
    margin-bottom: -0.2em;
    cursor: pointer; /* Change cursor to pointer for eye icon */
}

button.login {
    padding: 1em;
    background: linear-gradient(90deg,#ff1cac,#182c59);
    color: hsl(0 0 100);
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
  
}


.footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.7em;
    color: hsl(0deg 0% 37%);
    width: 100%;
}

.footer span {
    cursor: pointer;
}


.password-container {
    position: relative; /* Position relative to contain absolute elements */
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: hsl(0deg 0% 30%);
    cursor: pointer; /* Change cursor to pointer for the eye icon */
}

