/*# fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
}
.swal2-success-circular-line-left{
    background-color:gray;
  }
  .swal2-success-ring{
    background-color:gray;
  }
  
  
  .swal2-popup.swal2-modal.swal2-show{

      background-color: #ffffff9d;
      border: 6px solid lavender;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
     
      
  }
  .swal2-popup .GenreClasses{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px,1fr)); /* Adjust 200px as needed */
    gap: 6px; /* Adjust the gap between items */
  }
  
     .swal2-popup{
    border: 2px solid gray;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-color: transparent;
    border-radius: 20px;
    font-family: "Galano Grotesque", Poppins, Montserrat, sans-serif;
  
  }
  div#swal2-html-container.swal2-html-container h2 {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 20px;
    
  }
  

  h2#swal2-title.swal2-title{
    color: #0a083d;
   
  }

  ::placeholder{
      color: rgb(4, 3, 31);
  }
  .swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(117, 138, 138, 0.4)!important;
    /* background: rgba(117, 138, 138, 0.4); */
    backdrop-filter: blur(5px);
  }
  .swal2-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0 1.6em;
    color: #545454;
    font-size: 1.125em;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
}
  
  div:where(.swal2-container) div:where(.swal2-popup) {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    border-radius: 5px;
    background: #c1baba;
    color: #d5cccc;
    font-family: inherit;
    font-size: 1rem;
    
  }
  
  
  
  
  .swal2-icon.swal2-error [class^=swal2-x-mark-line] {
    display: block;
    position: absolute;
    top: 2.3125em;
    width: 2.9375em;
    height: 0.3125em;
    border-radius: 0.125em;
    background-color: #e6eeea;
    
  
  }
  div:where(.swal2-container) button:where(.swal2-close) {
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 1.2em !important;
    height: 1.2em;
    margin-top: -30px!important;
    margin-right: -20px!important;
    margin-bottom: -1.2em;
    padding: 0;
    overflow: hidden;
    transition: color .1s,box-shadow .1s;
    border: none;
    border-radius: 5px;
    background: rgba(0,0,0,0);
    color: #fff !important;
    font-family: monospace;
    font-size: 3.5em !important;
    cursor: pointer;
    justify-self: end;
  
  
}
 
 
  
  .swal2-popup a{
    color: black;
    background-color: #f7f7f7;
    margin: 10px;
    padding: 15px;
    width: auto;
    border-radius: 20px;
    -webkit-box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075),
    6px 6px 6px rgba(255, 255, 255, 0.781);
          box-shadow: inset 6px 6px 8px rgba(97, 97, 97, 0.075),
    6px 6px 6px rgba(255, 255, 255, 0.781);
  text-decoration: none;
  
    
   
  
  }
  .swal2-popup li:active{
    scale: 0.8;
  }
  .swal2-popup ul{
    list-style: none;
  }
  .swal2-popup li{
    margin:20px;
    text-decoration: none;
    list-style: none;
   
  }
  div:where(.swal2-container) .swal2-html-container {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 2px !important;
    overflow: auto;
    color: inherit;
    font-size: 1.125em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}
  
  
    .swal2-icon.swal2-error {
      border-color: gray;
      backdrop-filter: blur(5px);
     
    }
    button.swal2-confirm.swal2-styled,.swal2-cancel.swal2-styled {
      border:1px solid gray ;
      border-radius: 20px;
      background: initial;
      backdrop-filter: blur(50px);
      color: #fff;
      background-color: red;
      border: 2px solid lavender;
      font-size: 1em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      outline: none;
     
    
      
    }
    div:where(.swal2-container) button:where(.swal2-close) {
    /* z-index:2; */
    /* align-items:center; */
    /* justify-content:center; */
    /* width:1.2em; */
    /* height:1.2em; */
    /* margin-top:0; */
    /* margin-right:0; */
    /* margin-bottom:-1.2em; */
    /* padding:0; */
    /* overflow:hidden; */
    /* transition:color .1s,box-shadow .1s; */
    /* border:none; */
    /* border-radius:5px; */
    /* background:rgba(0,0,0,0); */
    color: #fff;
    font-family: monospace;
    /* font-size:2.5em; */
    /* cursor:pointer; */
    /* justify-self:end; */
}
  
    @media (max-width: 850px){
      .swal2-content {
        z-index: 1;
        justify-content: center;
        margin: 0;
        padding: 0px !important;
        color: #545454;
        font-size: 1.125em;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        word-wrap: break-word;
    }
    .swal2-popup.swal2-modal.swal2-show{

      background-color: #ffffff9d;
      border: 1px solid lavender !important;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    
  }
  
  @media (max-width: 450px){
  .swal2-popup ul{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }}

    }
    